body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}  

background {
  display: grid;
  grid-template-columns: repeat(11, 35px);
  grid-template-rows: repeat(17, 35px);
  align-items: center;
  justify-items: center;

  position: fixed;
  width: 400px; /* Ancho de la imagen */
  height: 600px; /* Alto de la imagen */
  background-color: #9FC452;
}

/*DUCK ELEMENTS*/
duck {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  transform: rotate(-30deg);
}

/*----head----*/
face {
  width: 140px;
  height: 110px;
  background-color: #F5F5F5;
  border-radius: 50%;
  z-index: 1;
  box-shadow: -5px 0px 0px rgba(0, 0, 0, 0.2);
  
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

eye {
  width: 6px;
  height: 6px;
  background-color: #242323;
  border-radius: 50%;
}

eyes {
  align-self:center;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

beak {
  width: 65px;
  height: 35px;
  background-color: #F5AA95;
  border-radius: 50%;
}

/*----body----*/
neck {
  position: relative;
  bottom:10px;

  width: 40px;
  height: 60px;
  background-color: #F5F5F5;
  z-index: 0;
  box-shadow: -5px 0px 0px rgba(0, 0, 0, 0.2);
}

cuerpo {
  position: relative;
  z-index: 1;
  bottom: 15px;

  width: 125px;
  height: 115px;
  background-color: #F5F5F5;
  border-radius: 50%;
  box-shadow: -5px 6px 0px rgba(0, 0, 0, 0.2);

  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
}

wings {
  position: relative;
  left: 8px;
  bottom: 10px;
  width: 125px;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}

wing {
  width: 50px;
  height: 40px;
  background-color: #F5F5F5;
  border-radius: 50%;
}

wing:first-child {
  transform: rotate(-45deg);
  border-left: 2px solid transparent;
  border-right: 2px solid #E9DAD0;
  border-top: 2px solid #E9DAD0;
  border-bottom: 2px solid #E9DAD0;
}

wing:nth-child(2) {
  transform: rotate(35deg);
  border-right: 2px solid transparent;
  border-left: 2px solid #E9DAD0;
  border-top: 2px solid #E9DAD0;
  border-bottom: 2px solid #E9DAD0;
}

/*--bottom--*/
legs{
 position: relative;
  z-index: 1;
  bottom: 23px;
 
  width: 90px;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}

leg_paw{ /*"contenedor"*/
width: 50px;
height: 70px;

display: flex; 
flex-direction: column;
justify-content: flex-end;
align-items:center;
}

leg {
background-color:#F5AA95;
width: 10px;
height: 60px;
border-radius: 10px;

display: flex; 
flex-direction: column;
justify-content: flex-end;
}

paw {
position: relative;
width: 31px;
height: 42px;
background-color: #F58B78;
border-radius: 15px;
border: 4px solid #F5AA95;
border-bottom: none;
}

leg:first-child > paw {
  transform: rotate(-35deg); 
  left: -20px;
  bottom: -5px;
  border-left: none;
}

leg:last-child > paw{
  transform: rotate(35deg); 
  right: 0px;
  bottom: -5px;
  border-right: none;
}

/*FLOWER ELEMENTS*/
flower{
position: relative;
width: 35px;
height: 35px;

display: grid;
grid-template-columns: 7px 7px 7px;
grid-template-rows: 5px 5px 6px;
}

.center{
position: relative;
grid-column:2;
grid-row:2;

height: 8px;
width: 10px;
border-radius: 50%;
background-color: #F5E182;
top: 42%;
left: 25%;
}

petal{
position:relative;
height: 12px;
width: 12px;
border-radius: 50%;
background-color: #FBFFFA;
}

petal:nth-child(2) {
grid-column:2;
grid-row:1;
bottom: 2px;
box-shadow: -10px 16px 0px rgba(0, 0, 0, 0.2);
}

petal:nth-child(3) {
grid-column:1;
grid-row:2;
bottom: 2px;
}

petal:nth-child(4) {
grid-column:3;
grid-row:2;
bottom: 2px;
}

petal:nth-child(5) {
grid-column:1;
grid-row:3;
left:2px;
}

petal:nth-child(6) {
grid-column:3;
grid-row:3;
right:2px;
}

stem{
grid-column:3;
position: relative;
width: 3px;
height: 45px;
background-color: #587523;
right: 2px;
}

leaf{
position: relative;
width: 8px;
height: 13px;
background-color: #587523;
border-radius: 50%;  
transform: rotate(-40deg);
top: 12px;
left: -2px;
}

#f2 {
transform: scale(0.6);
}

#f8 {
transform: scale(0.6);
}

#f9 {
position: fixed;
bottom: 200px;
}

#f9 > petal {
background-color: #FFFAAB;
}

#f9 > leaf:last-child {
transform: rotate(45deg);
left: 200%;
}

grass {
display: grid;
grid-template-columns: repeat(3, 6px);
grid-gap: 1px;
width: 14px;
height: 18px;
align-self: end;
}

grassLeaf {
background-color: #89C460;
width: 6px;
height: 15px;
border-radius: 3px;
align-self: end;
}

grassLeaf:nth-child(even) {
transform: scaleY(0.6);
}

grass:nth-child(even) > grassLeaf {
background-color: #afca6a;
}

rocks {
display: grid;
grid-template-columns: repeat(3, 10px);
grid-template-rows: repeat(3, 10px);
align-content: center;
}

rock {
width: 6px;
height: 3px;
border-radius: 50%;
background-color: #C9DCF4;
}

rocks:nth-child(odd) > rock {
background-color: #FFDD53;
}

rocks > rock:nth-child(odd) {
background-color: #ffdd5300;
}

rocks ~ rock {
background-color: #AD69B5;
transform: scale(2.0);
}

rock:nth-child(even){
transform: scale(1.5);
}

/*EXTRAS*/
.cut {
position: fixed;

width: 400px; /* Ancho de la imagen */
height: 600px; /* Alto de la imagen */
overflow: hidden;
display: grid;
grid-template: 100% /100%;
}

cielo {
position: relative;
width: 400px; /* Ancho de la imagen */
height: 600px; /* Alto de la imagen */
transform: rotate(-30deg);
display: grid;
grid-template-rows: 50px 80px 50px 40px 80px 60px 100px 60px 40px;
}

nube {
position: relative;
background-color: rgb(10, 51, 17);
border-radius: 40px; 
box-shadow: 25px 15px 0px rgba(0, 0, 0, 0.3);
opacity: 0.3; /* Valor de opacidad */
animation: move 3s infinite alternate;
}

@keyframes move {
0% { transform: translateX(0); }
100% { transform: translateX(50px); }
}

nube:first-child{
width: 300px;
height: 80px;
grid-row:2;
left: 40%
}

nube:nth-child(2){
width: 100px;
height: 40px;
grid-row:4;
right: 10%;
}

nube:nth-child(3){
width: 200px;
height: 80px;
grid-row:5;
left: 60%;
}

nube:nth-child(4){
width: 250px;
height: 100px;
grid-row:7;
right: 40%;
}

nube:last-child{
width: 150px;
height: 40px;
grid-row:9;
left: 50%
}